* {
    padding: 0;
    margin: 0;
    color: var(--highlight-2);
    font-family: "Karla", sans-serif;
    text-decoration: none;
}

:root{
    --primary-1: #495E57;
    --primary-2: #F4CE14;
    --secondary: #EE9972;
    --highlight-1: #EDEFEE;
    --highlight-2: #333333;
    --highlight-2-trans: #33333333;
    --error: #d43e3e;
    --error-trans: #d43e3e6d;
}

@font-face {
    font-family: "Markazi Text";
    src: url("./Fonts/Markazi\ Text.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("./Fonts/Karla.ttf");
}

/* ---------- general ---------- */
h1 {
    font-family: "Markazi Text", serif;
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-family: "Markazi Text", serif;
    font-size: 22px;
    font-weight: bold;
}

h4 {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}

.res-form h4 {
    color: var(--highlight-2);
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 18px;
    font-weight: 400;
}

img {
    object-fit: cover;
    border-radius: 16px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4px;
}

.center {
    width: max-content;
    margin: -12px auto 0 auto;
}

.btn-link {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    padding: 12px 24px;
}

@media only screen and (max-width: 768px) {
    .card-group {
        flex-direction: column;
        gap: 32px;
    }

    .stars {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 576px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 15px;
    }

    .stars {
        justify-content: center;
    }

    .card-group {
        flex-direction: row;
        padding: 30px;
        overflow-x: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }

    .card-group::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    .btn-link {
        padding: 8px 16px;
    }
}

/* ---------- button ---------- */
.btn {
    background-color: var(--primary-2);
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}

.primary-btn {
    padding: 12px 24px;
}

.link-btn {
    padding: 0;
}

@media only screen and (max-width: 576px) {
    .btn {
        font-size: 15px;
    }

    .primary-btn {
        padding: 8px 16px;
    }
}

/* ---------- navbar ---------- */
.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 5;
    background-color: white;
    transition: ease-in-out 200ms;
    padding: 20px 0;
}

.nav-shrink {
    padding: 8px 0;
    transition: ease-in-out 200ms;
}

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 910px;
    margin: 0 auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-container-small > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.nav-container-small {
    display: none;
}

.nav-container > img {
    border-radius: 0;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-item {
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--primary-1);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
.nav-item:hover:after { 
    width: 100%;
    left: 0;
}

.nav-container-overlay {
    position: fixed;
    top: -300px;
    right: 0;
    background-color: white;
    border-top: solid;
    border-color: var(--highlight-1);
    display: none;
    width: 100%;
    transition: ease-in-out 200ms;
}

.open {
    top: 67px;
    transition: ease-in-out 200ms;
}

.nav-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.nav-item-overlay {
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
}

@media only screen and (max-width: 992px) {
    .nav-container {
        max-width: 700px;
    }
    
    .nav {
        gap: 20px;
    }
    
    .navbar .nav-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0;
        transition: none;
    }

    .nav-container-large {
        display: none;
    }

    .nav-container-small {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: white;
        position: relative;
        padding: 10px 0;
    }

    .nav-shrink {
        padding: 0;
        transition: none;
    }

    .nav-container-overlay {
        display: flex;
    }
}

@media only screen and (max-width: 576px) {
    .nav-container-small > div {
        max-width: 100%;
        padding: 0 30px;
    }
}

/* ---------- hero ---------- */
.hero-container {
    background-color: var(--primary-1);
}

.hero {
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 910px;
    margin: 0 auto 64px auto;
}

.hero h1 {
    color: var(--primary-2);
    margin: -20px 0;
}

.hero h2 {
    color: var(--highlight-1);
    margin: 0 0 -10px 0;
}

.hero p {
    color: var(--highlight-1);
}

.hero .btn {
    align-self: start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.hero > img {
    margin-top: 100px;
}

@media only screen and (max-width: 992px) {
    .hero {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        max-width: 500px;
        margin: 0 auto;
    }
    
    .hero p {
        width: 250px;
    }

    .hero > img {
        width: 170px;
        height: 175px;
        margin-top: 0;
    }
}

@media only screen and (max-width: 576px) {
    .hero {
        max-width: 100%;
        padding: 0 30px;
        margin: 0;
    }
    
    .hero p {
        width: 150px;
    }

    .hero-text {
        width: 250px;
    }

    .hero > img {
        width: 30vw;
        height: 35vw;
        position: absolute;
        right: 30px;
    }
}

/* ---------- specials ---------- */
.specials {
    padding-bottom: 64px;
    border-bottom: solid;
    border-color: var(--highlight-1);
    margin: 32px auto 0 auto;
    max-width: 910px;
}

.specials > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

@media only screen and (max-width: 992px) {
    .specials {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .specials {
        max-width: 500px;
    }
}

@media only screen and (max-width: 576px) {
    .specials {
        max-width: 100%;
    }
}

/* ---------- menu cards ---------- */
.menu-card {
    background-color: var(--highlight-1);
    width: 220px;
    height: 376px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.menu-card > img {
    border-radius: 16px 16px 0 0;
    flex-shrink: 0;
}

.menu-card header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.menu-card p {
    font-size: 16px;
    line-height: 0.95;
}

.card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
}

.order {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.order > p {
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .menu-card {
        width: 500px;
        height: 172px;
        flex-direction: row;
    }

    .menu-card > img {
        border-radius: 16px 0 0 16px;
        flex-shrink: 0;
        width: 180px;
    }

    .card-contents {
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 576px) {
    .menu-card {
        width: 230px;
        height: 320px;
        flex-direction: column;
    }

    .menu-card > img {
        border-radius: 16px 16px 0 0;
        flex-shrink: 0;
        width: 230px;
        height: 120px;
    }
    
    .specials > header {
        flex-direction: column;
    }
}


/* ---------- testimonials ----------*/
.testimonials {
    padding-bottom: 64px;
    border-bottom: solid;
    border-color: var(--highlight-1);
    margin: 32px auto 0 auto;
    max-width: 910px;
}

.testimonials > header {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

@media only screen and (max-width: 992px) {
    .testimonials {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .testimonials {
        max-width: 500px;
    }
}

@media only screen and (max-width: 576px) {
    .testimonials {
        max-width: 100%;
    }
}

/* ---------- testimonial cards ----------*/
.testimonial-card {
    width: 182px;
    height: 220px;
    background-color: var(--highlight-1);
    border-radius: 12px;
    margin-top: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.testimonial-card > img {
    display: block;
    width: 80px;
    height: 80px;
    margin: -62px auto 12px auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 3.5px;
    border-color: var(--primary-1);
    padding: 4px;
}

.testimonial-card p {
    font-size: 16px;
    line-height: 0.95;
    text-indent: 28px;
    padding-top: 7px;
}

.testimonial-card h3 {
    text-align: center;
}

#quotation {
    position: absolute;
    top: 0;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.review > div {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .testimonial-card {
        width: 400px;
        height: 140px;
        margin: 0;
        margin-left: 50px;
        flex-direction: row;
    }

    .testimonial-card > img {
        margin: 0;
        transform: translate(-66%, 27%);
    }

    .testimonial-card h3 {
        text-align: left;
    }

    .review {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 576px) {
    .testimonial-card {
        width: 230px;
        height: 252px;
        flex-direction: column;
        padding: 16px;
        margin: 40px 0 0 0;
        box-sizing: border-box;
    }

    .testimonial-card > img {
        margin: -62px auto 0 auto;
        transform: translate(0, 0);
    }

    .testimonial-card h3 {
        text-align: center;
    }

    .review {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-left: 0;
    }
}

/* ---------- about ---------- */
.about {
    padding-bottom: 64px;
    margin: 32px auto 0 auto;
    max-width: 910px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 464px;
}

.about-text > header {
    padding: 32px 0 0 0;
}

.about h1 {
    margin: -20px 0;
}

.about h2 {
    margin: 0 0 -10px 0;
}

.about p {
    font-size: 16px;
}

.images > img {
    object-position: left;
}

.images {
    position: relative;
    margin-top: 32px;
    width: 300px;
    height: 350px;
}

#img1 {
    position: absolute;
    top: 0;
    right: 0;
}

#img2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 992px) {
    .about {
        max-width: 700px;
    }

    .about-text {
        width: 340px;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        max-width: 500px;
        flex-direction: column;
    }

    .about-text {
        width: 500px;
    }

    .images {
        position: relative;
        margin-top: 32px;
        width: 350px;
        height: 240px;
    }

    #img1 {
        width: 200px;
        height: 175px;
        z-index: 2;
    }
    
    #img2 {
        width: 200px;
        height: 175px;
    }
}

@media only screen and (max-width: 576px) {
    .about {
        max-width: 100%;
        padding: 0 30px 64px 30px;
    }

    .about-text {
        width: 100%;
    }

    .images {
        width: 100%;
        max-width: 300px;
        height: 240px;
    }

    #img1 {
        width: 175px;
        height: 150px;
        z-index: 0;
    }
    
    #img2 {
        width: 175px;
        height: 150px;
    }
}

/* ---------- footer ---------- */
footer {
    height: 248px;
    background-color: var(--primary-1);
    display: flex;
    align-items: center;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
}

.footer-contents > img {
    object-fit: contain;
    border-radius: 0;
    height: max-content;
}

footer h3 {
    color: var(--highlight-1);
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.footer-nav .nav-item {
    color: var(--highlight-1);
    font-weight: 500;
    width: max-content;
}

.footer-nav .nav-item:hover {
    text-decoration: underline;
}

footer li {
    color: var(--highlight-1);
    list-style: none;
    font-weight: 500;
}

footer section {
    max-width: 174px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media only screen and (max-width: 992px) {
    .footer-contents {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        height: 450px;
    }

    .footer-contents {
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        row-gap: 48px;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        height: 480px;
    }

    .footer-contents {
        max-width: 100%;
        padding: 0 30px;
        column-gap: 32px;
    }
}

/* ---------- reservation ---------- */
.res-header-container {
    height: 250px;
    background-color: var(--primary-1);
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 24px 0 48px 0;
}

.res-header {
    width: 100%;
    max-width: 910px;
    margin: 0 auto;
}

.res-header > h1 {
    color: var(--primary-2);
    margin-bottom: 8px;
    margin-top: -14px;
}

.res-header svg {
    width: 35px;
    height: 35px;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.steps > div {
    height: 50px;
    width: 50px;
    background-color: var(--highlight-1);
    border-radius: 50%;
    border-style: solid;
    border-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#on {
    border-style: solid;
    border-color: var(--primary-2);
    transition: ease-in-out 0s 450ms;
}

#complete {
    background-color: var(--primary-2);
}

.steps > hr {
    position: absolute;
    height: 4px;
    border: none;
    transform: translate(2.5%, 25px);
}

.hr-bg {
    width: 95%;
    background: var(--highlight-1);
}

.hr-fill {
    background: var(--primary-2);
    transition: width ease-in-out 500ms;
}

.step-1 {
    width: 1%;
}

.step-2 {
    width: 50%;
}

.step-3 {
    width: 95%;
}

.step-names {
    display: flex;
    justify-content: space-between;
    width: 965px;
    transform: translateX(-27.5px);
    margin-top: 8px;
}

.step-names > p {
    color: var(--highlight-1);
    width: 110px;
    text-align: center;
}

/* ---------- res form ---------- */
.res-form {
    max-width: 910px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#personal-info {
    max-width: 512px;
}

#confirmation {
    max-width: 370px;
    text-align: center;
}

#confirmation img {
    width: 140px;
    margin: 24px 0;
}

#confirmation svg {
    width: 48px;
    height: 48px;
    margin: 24px 0 0 0;
}

.res-form > div {
    padding-bottom: 32px;
    border-bottom: solid;
    border-color: var(--highlight-1);
}

.res-form h3, .res-form label {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    display: block;
}

.res-form h3 {
    font-family: "Karla", sans-serif;
}

.res-form .option {
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    margin-left: 24px;
    margin-bottom: 0;
    display: inline;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(1.15em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-1);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

textarea {
    width: 100%;
    height: 116px;
    background-color: var(--highlight-1);
    border-radius: 12px;
    border: none;
    outline-color: var(--highlight-2-trans);
    padding: 12px;
    box-sizing: border-box;
    vertical-align: top;
    resize: none;
}

textArea::-webkit-scrollbar {
    width: 7px;
}

textArea::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 5px;
}

textArea::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 5px;
}

.scrollbar-clip {
    overflow: hidden;
    border-radius: 12px;
}

input[type="text"] {
    background-color: var(--highlight-1);
    border-radius: 8px;
    border: none;
    outline-color: var(--highlight-2-trans);
    padding: 6px 12px;
    box-sizing: border-box;
    width: 250px;
}

#personal-info input[type="text"] {
    width: 100%;
    margin-top: 18px;
}

#confirmation input[type="text"] {
    width: 150px;
    margin-top: 24px;
    text-align: center;
}

.date-and-time {
    display: flex;
    gap: 72px;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}

.dropdowns {
    display: flex;
    gap: 32px;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 8px;
}

.counter > div {
    display: flex;
    gap: 64px;
}

.counter > div > p {
    font-size: 24px;
    font-weight: 600;
    width: 24px;
    text-align: center;
}

.change-counter {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.counters-container {
    display: flex;
    gap: 128px;
    justify-content: center;
    margin-top: 18px;
}

.disable {
    color: #33333355;
    cursor: default;
}

.locations {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.locations img {
    width: 230px;
    height: 140px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
}

.locations h4 {
    cursor: pointer;
}

.locations > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.stars {
    display: flex;
    gap: 4px;
}

.stars > svg {
    width: 18px;
    height: 18px;
}

.branch {
    border: 4px solid white;
    border-radius: 15px;
    padding: 3px;
}

.selected-branch {
    border-color: var(--primary-1);
}

/* ---------- calendar ---------- */
.calendar {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 240px;
}

.calendar-bg {
    height: max-content;
    background-color: var(--highlight-1);
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 6px;
    padding: 12px;
}

.calendar-bg > * {
    aspect-ratio: 1 / 1;
}

.calendar-day {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: var(--highlight-2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calendar-day p {
    font-weight: 600;
    font-size: 14px;
}

.calendar h3 {
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    padding-bottom: 1px;
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 16px;
    padding: 8px 16px;
}

.week-days p {
    margin: auto;
    font-weight: 700;
    font-size: 16px;
}

.arrow {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.arrow-disabled {
    fill: #9e9e9e;
    cursor: default;
}

.month-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-select h3 {
    width: 150px;
}

#out-of-range {
    border-color: #9e9e9e;
    cursor: default;
}

#out-of-range p {
    color: #9e9e9e;
}

#selected {
    border-color: var(--primary-1);
    border-width: 3px;
    background-color: #6083792b;
}

#selected p {
    color: var(--primary-1);
}

/* ---------- dropdown ---------- */
.dropdown {
    position: relative;
    width: 160px;
    margin-top: 4px;
    cursor: pointer;
}

.dropdown-btn {
    width: 100%;
    height: 32px;
    color: var(--highlight-2);
    background-color: var(--highlight-1);
    padding-left: 12px;
    border: none;
    font-size: 16px;
    outline: none;
    text-align: left;
    position: absolute;
    top: 0;
    border-radius: 12px;
    cursor: pointer;
}

.dropdown-btn:focus {
    box-sizing: border-box;
    border: 2px solid var(--highlight-2-trans);
    border-radius: 12px;
}

.menu {
    position: absolute;
    list-style-type: none;
    padding-left: 2px;
    margin-top: 36px;
    width: 99.3%;
    background-color: var(--highlight-1);
    overflow: none;
    border-radius: 12px;
}

.menu > li {
    margin: -0.1vw;
    padding-left: 5px;
    color: var(--highlight-2);
    width: 97.6%;
}

.menu > li:hover {
    background-color: lightgray;
}

.menu > li:hover:first-of-type {
    border-radius: 12px 12px 0 0;
}

.menu > li:hover:last-of-type {
    border-radius: 0 0 12px 12px;
}

.menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
    background: none;
    color: inherit;
    border: none;
    padding: 7px;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}

.menu > li > button:focus {
    box-sizing: border-box;
    border: 2px solid var(--highlight-2-trans);
    border-radius: 0;
    margin-left: -4px;
    padding-left: 10px;
    width: 102%;
}

.menu > li:first-of-type > button:focus {
    border-radius: 12px 12px 0 0;
}

.menu > li:last-of-type > button:focus {
    border-radius: 0 0 12px 12px;
}

.menu > li > button:active {
    border: none;
}

.dropdown-arrow {
    fill: var(--highlight-2);
    position: absolute;
    z-index: 1;
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
}

.invalid {
    box-sizing: border-box;
    border: 2px solid var(--error-trans);
    border-radius: 12px;
}