* {
    padding: 0;
    margin: 0;
    color: var(--highlight-2);
    font-family: "Karla", sans-serif;
    text-decoration: none;
}

:root{
    --primary-1: #495E57;
    --primary-2: #F4CE14;
    --secondary: #EE9972;
    --highlight-1: #EDEFEE;
    --highlight-2: #333333;
}

@font-face {
    font-family: "Markazi Text";
    src: url("./Fonts/Markazi\ Text.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("./Fonts/Karla.ttf");
}

/* ---------- general ---------- */
h1 {
    font-family: "Markazi Text", serif;
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-family: "Markazi Text", serif;
    font-size: 22px;
    font-weight: bold;
}

h4 {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;
}

img {
    object-fit: cover;
    border-radius: 16px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4px;
}

/* ---------- button ---------- */
.primary-btn {
    background-color: var(--primary-2);
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
}

/* ---------- navbar ---------- */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    transition: ease-in-out 200ms;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-shrink {
    padding: 8px 20%;
    transition: ease-in-out 200ms;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-item {
    font-weight: bold;
    font-size: 16px;
}

/* ---------- hero ---------- */
.hero {
    background-color: var(--primary-1);
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20%;
    margin: 0 0 64px 0;
}

.hero h1 {
    color: var(--primary-2);
    margin: -20px 0;
}

.hero h2 {
    color: var(--highlight-1);
    margin: 0 0 -10px 0;
}

.hero p {
    color: var(--highlight-1);
}

.hero .primary-btn {
    align-self: start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.hero img {
    margin-top: 100px;
}

/* ---------- specials ---------- */
.specials {
    padding-bottom: 64px;
    border-bottom: solid;
    border-color: var(--highlight-1);
    margin: 32px 20% 0 20%;
}

.specials > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

/* ---------- menu cards ---------- */
.menu-card {
    background-color: var(--highlight-1);
    width: 220px;
    height: 376px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.menu-card img {
    border-radius: 16px 16px 0 0;
    flex-shrink: 0;
}

.menu-card header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.menu-card p {
    font-size: 16px;
    line-height: 0.95;
}

.card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
}

.order {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.order p {
    font-weight: 600;
    font-size: 14px;
}

/* ---------- testimonials ----------*/
.testimonials {
    padding-bottom: 64px;
    border-bottom: solid;
    border-color: var(--highlight-1);
    margin: 32px 20% 0 20%;
}

.testimonials > header {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

/* ---------- testimonial cards ----------*/
.testimonial-card {
    width: 182px;
    height: 220px;
    background-color: var(--highlight-1);
    border-radius: 12px;
    margin-top: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.testimonial-card img {
    display: block;
    width: 80px;
    height: 80px;
    margin: -62px auto 12px auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 3.5px;
    border-color: var(--primary-1);
    padding: 4px;
}

.testimonial-card p {
    font-size: 16px;
    line-height: 0.95;
    text-indent: 28px;
    padding-top: 7px;
}

.testimonial-card h3 {
    text-align: center;
}

#quotation {
    position: absolute;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* ---------- about ---------- */
.about {
    padding-bottom: 64px;
    margin: 32px 20% 0 20%;
}

.about-text > header {
    padding: 32px 0;
}

/* ---------- footer ---------- */
footer {
    height: 248px;
    background-color: var(--primary-1);
}

/* ---------- calendar ---------- */
.calendar {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar-bg {
    width: 20vw;
    height: max-content;
    background-color: var(--highlight-1);
    border-radius: 0.8vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    padding: 0.8vw;
}

.calendar-bg > * {
    aspect-ratio: 1 / 1;
}

.calendar-day {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: var(--highlight-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2vw;
}

.calendar h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.4vw;
    padding-bottom: 0.2vw;
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0.5vw;
    padding: 0.8vw;
}

.week-days p {
    margin: auto;
    font-weight: 600;
    font-size: 1.2vw;
}

.arrow {
    width: 1vw;
    height: 1vw;
}

.arrow-disabled {
    fill: #9e9e9e;
}

.month-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-select h3 {
    width: 14vw;
}

#out-of-range {
    border-color: #9e9e9e;
}

#out-of-range p {
    color: #9e9e9e;
}

#selected {
    border-color: var(--primary-1);
    border-width: 0.25vw;
}

#selected p {
    color: var(--primary-1);
}