* {
    padding: 0;
    margin: 0;
    color: var(--highlight-2);
    font-family: "Karla", sans-serif;
    text-decoration: none;
}

:root{
    --primary-1: #495E57;
    --primary-2: #F4CE14;
    --secondary: #EE9972;
    --highlight-1: #EDEFEE;
    --highlight-2: #333333;
}

@font-face {
    font-family: "Markazi Text";
    src: url("./Fonts/Markazi\ Text.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("./Fonts/Karla.ttf");
}

/* ---------- general ---------- */
h1 {
    font-family: "Markazi Text", serif;
    font-size: 64px;
    font-weight: 500;
}

h2 {
    font-family: "Markazi Text", serif;
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-family: "Markazi Text", serif;
    font-size: 22px;
    font-weight: bold;
}

h4 {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 400;
}

img {
    object-fit: cover;
    border-radius: 16px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4px;
}

@media only screen and (max-width: 768px) {
    .card-group {
        flex-direction: column;
        gap: 32px;
    }

    .stars {
        justify-content: flex-start;
    }
}

/* ---------- button ---------- */
.primary-btn {
    background-color: var(--primary-2);
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
}

/* ---------- navbar ---------- */
.navbar {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
    transition: ease-in-out 200ms;
    padding: 20px 0;
}

.nav-shrink {
    padding: 8px 0;
    transition: ease-in-out 200ms;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 910px;
    margin: 0 auto;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-container-small {
    display: none;
}

.nav-container > img {
    border-radius: 0;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-item {
    font-weight: bold;
    font-size: 16px;
    position: relative;
}

.nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--primary-1);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
.nav-item:hover:after { 
    width: 100%;
    left: 0;
}

.nav-container-overlay {
    position: fixed;
    top: 67px;
    right: 0;
    background-color: white;
    border-top: solid;
    border-color: var(--highlight-1);
    display: none;
    width: 100%;
}

.nav-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.nav-item-overlay {
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
}

@media only screen and (max-width: 992px) {
    .nav-container {
        max-width: 700px;
    }
    
    .nav {
        gap: 20px;
    }
    
    .navbar .nav-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px 0;
        transition: none;
    }

    .nav-container-large {
        display: none;
    }

    .nav-container-small {
        display: flex;
        max-width: 500px;
    }

    .nav-shrink {
        padding: 10px 0;
        transition: none;
    }

    .nav-container-overlay {
        display: flex;
    }
}

/* ---------- hero ---------- */
.hero-container {
    background-color: var(--primary-1);
}

.hero {
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 910px;
    margin: 0 auto 64px auto;
}

.hero h1 {
    color: var(--primary-2);
    margin: -20px 0;
}

.hero h2 {
    color: var(--highlight-1);
    margin: 0 0 -10px 0;
}

.hero p {
    color: var(--highlight-1);
}

.hero .primary-btn {
    align-self: start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
}

.hero > img {
    margin-top: 100px;
}

@media only screen and (max-width: 992px) {
    .hero {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        max-width: 500px;
        margin: 0 auto;
    }
    
    .hero p {
        width: 250px;
    }

    .hero > img {
        width: 170px;
        height: 175px;
        margin-top: 0;
    }
}

/* ---------- specials ---------- */
.specials {
    padding-bottom: 64px;
    border-bottom: solid;
    border-color: var(--highlight-1);
    margin: 32px auto 0 auto;
    max-width: 910px;
}

.specials > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

@media only screen and (max-width: 992px) {
    .specials {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .specials {
        max-width: 500px;
    }
}

/* ---------- menu cards ---------- */
.menu-card {
    background-color: var(--highlight-1);
    width: 220px;
    height: 376px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.menu-card > img {
    border-radius: 16px 16px 0 0;
    flex-shrink: 0;
}

.menu-card header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}

.menu-card p {
    font-size: 16px;
    line-height: 0.95;
}

.card-contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
}

.order {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.order > p {
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .menu-card {
        width: 500px;
        height: 172px;
        flex-direction: row;
    }

    .menu-card > img {
        border-radius: 16px 0 0 16px;
        flex-shrink: 0;
        width: 180px;
    }

    .card-contents {
        box-sizing: border-box;
    }
}

/* ---------- testimonials ----------*/
.testimonials {
    padding-bottom: 64px;
    border-bottom: solid;
    border-color: var(--highlight-1);
    margin: 32px auto 0 auto;
    max-width: 910px;
}

.testimonials > header {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

@media only screen and (max-width: 992px) {
    .testimonials {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .testimonials {
        max-width: 500px;
    }
}

/* ---------- testimonial cards ----------*/
.testimonial-card {
    width: 182px;
    height: 220px;
    background-color: var(--highlight-1);
    border-radius: 12px;
    margin-top: 40px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.testimonial-card > img {
    display: block;
    width: 80px;
    height: 80px;
    margin: -62px auto 12px auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 3.5px;
    border-color: var(--primary-1);
    padding: 4px;
}

.testimonial-card p {
    font-size: 16px;
    line-height: 0.95;
    text-indent: 28px;
    padding-top: 7px;
}

.testimonial-card h3 {
    text-align: center;
}

#quotation {
    position: absolute;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .testimonial-card {
        width: 400px;
        height: 140px;
        margin: 0;
        margin-left: 50px;
        flex-direction: row;
    }

    .testimonial-card > img {
        margin: 0;
        transform: translate(-66%, 27%);
    }

    .testimonial-card h3 {
        text-align: left;
    }

    .review {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
        margin-left: -40px;
    }

    .review > div {
        position: relative;
    }

    #quotation {
        top: 0px;
    }
}

/* ---------- about ---------- */
.about {
    padding-bottom: 64px;
    margin: 32px auto 0 auto;
    max-width: 910px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 464px;
}

.about-text > header {
    padding: 32px 0 0 0;
}

.about h1 {
    margin: -20px 0;
}

.about h2 {
    margin: 0 0 -10px 0;
}

.about p {
    font-size: 16px;
}

.images > img {
    object-position: left;
}

.images {
    position: relative;
    margin-top: 32px;
    width: 300px;
    height: 350px;
}

#img1 {
    position: absolute;
    top: 0;
    right: 0;
}

#img2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 992px) {
    .about {
        max-width: 700px;
    }

    .about-text {
        width: 340px;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        max-width: 500px;
        flex-direction: column;
    }

    .about-text {
        width: 500px;
    }

    .images {
        position: relative;
        margin-top: 32px;
        width: 350px;
        height: 240px;
    }

    #img1 {
        width: 200px;
        height: 175px;
        z-index: 2;
    }
    
    #img2 {
        width: 200px;
        height: 175px;
    }
}

/* ---------- footer ---------- */
footer {
    height: 248px;
    background-color: var(--primary-1);
    display: flex;
    align-items: center;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
    max-width: 910px;
    width: 100%;
    margin: 0 auto;
}

.footer-contents > img {
    object-fit: contain;
    border-radius: 0;
    height: max-content;
}

footer h3 {
    color: var(--highlight-1);
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav {
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.footer-nav .nav-item {
    color: var(--highlight-1);
    font-weight: 500;
}

footer li {
    color: var(--highlight-1);
    list-style: none;
    font-weight: 500;
}

footer section {
    max-width: 174px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media only screen and (max-width: 992px) {
    .footer-contents {
        max-width: 700px;
    }
}

@media only screen and (max-width: 768px) {
    footer {
        height: 450px;
    }

    .footer-contents {
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        row-gap: 48px;
        justify-content: space-around;
    }
}

/* ---------- calendar ---------- */
.calendar {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.calendar-bg {
    width: 20vw;
    height: max-content;
    background-color: var(--highlight-1);
    border-radius: 0.8vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vw;
    padding: 0.8vw;
}

.calendar-bg > * {
    aspect-ratio: 1 / 1;
}

.calendar-day {
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15vw;
    border-color: var(--highlight-2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.2vw;
}

.calendar h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.4vw;
    padding-bottom: 0.2vw;
}

.week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0.5vw;
    padding: 0.8vw;
}

.week-days p {
    margin: auto;
    font-weight: 600;
    font-size: 1.2vw;
}

.arrow {
    width: 1vw;
    height: 1vw;
}

.arrow-disabled {
    fill: #9e9e9e;
}

.month-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-select h3 {
    width: 14vw;
}

#out-of-range {
    border-color: #9e9e9e;
}

#out-of-range p {
    color: #9e9e9e;
}

#selected {
    border-color: var(--primary-1);
    border-width: 0.25vw;
}

#selected p {
    color: var(--primary-1);
}